@charset "utf-8";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Alata', sans-serif;
    padding: 0;
    margin: 0;
}

#app {
    height: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
    flex-grow: 0;
    height: 40px;
}

.modal {
    padding: 10px;
    position: fixed;
    z-index: 100;
    background-color: hsla(170, 5%, 15%, 0.75);
    border-radius: 0px;
    width: 30%;
    top: 30vh;
    left: 35%;
    display: none;
}

.modal.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}

.new-task-view {
    padding: 10px;
}

.task-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    border-color: hsla(0, 0%, 84%, 0.5);
}
.modal-title {
    color: rgb(219, 219, 219);
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2rem;
}

.board {
    background-color: hsla(170, 5%, 5%, 1);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-self: stretch;
}

.tasklist {
    color: hsla(170, 5%, 95%, 1);
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 0;
    margin: 5px;
    padding-left: 5px;
    margin-top: 10px;
    background-color: hsla(170, 5%, 15%, 0.75);
    height: fit-content;
    padding-bottom: 15px;
}

.droppable {
    background-color: hsla(180, 4%, 28%, 0.993);
}

.tasklist-header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: grab;
}

.list-dragging {
    opacity: 0.5;
}

.list-drop-target {
    border: 2px dashed hsla(225, 40%, 50%, 0.6);
    border-radius: 12px;
}

.tasklist-name {
    color: aliceblue;
    font-family: 'Share Tech Mono', monospace;
    padding-left: 10px;
    font-size: 1.2rem;
}

.add-task-btn {
    background-color: hsla(170, 95%, 95%, 0.1);
    border: none;
    color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
}

.task {
    font-family: sans-serif;
    border-width: 1px;
    border-color: hsla(170, 35%, 85%, 0.5);
    border-style: solid;
    font-size: 0.8rem;
    height: min-content;
    max-width: 200px;
    background-color: hsla(170, 5%, 15%, 0.75);
    border-radius: 2%;
    padding-left: 5px;
    margin: 0px 5px 5px 10px;
    list-style: none;
}

.task,
li {
    padding: 10px;
}

.tasklist-name {
    text-shadow: 3px;
}

#backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
}

#backdrop.visible {
    display: block;
    pointer-events: all;
}

form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    flex-direction: row;
}

form fieldset {
    display: flex;
    padding-left: 10px;
    color: white;
    border-width: 1px;
    width: 100%;
}

fieldset legend {
    color: aliceblue;
    font-family: 'Share Tech Mono', monospace;
    padding-left: 10px;
    font-size: 1rem;
}

fieldset label {
    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
    font-size: 0.9rem;
}

label input {
    margin-left: 10px;
    align-self: flex-end;
    width: 50%;
}

fieldset .buttons {
    margin-right: 20px;
    display: flex;
    flex-direction: row-reverse;
}
